<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
		
		
		<title>安全行为监控</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-3.3.7/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="/font/iconfont.css"/>
		
		<script src="/js/echarts.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container margin15">
			<div class="container" id="ManagerPost">
				<p class="ManagerModalTitle">管理人员到岗率</p>
				<p class="TrainingRate"><span class="TrainingRateNumber" id="guanli"></span><span class="TrainingRateSymbol">%</span></p>
				<p class="progress"><span id="ManagerProgressBar"></span></p>
			</div>
			<div class="container" id="WorkerTraining">
				<p class="WorkerModalTitle">工人培训率</p>
				<p class="TrainingRate"><span class="TrainingRateNumber" id="gongren"></span><span class="TrainingRateSymbol">%</span></p>
				<p class="progress"><span id="WorkerProgressBar"></span></p>
			</div>
		</div>
		
		<div class="container marginBottom60">
			<div class="container">
				<div id="line_01"></div>
				<p class="text-c">项目管理人员总体到岗率折线图</p>
			</div>
			<div class="container">
				<div id="line_02"></div>
				<p class="text-c">作业工人总体受培训率折线图</p>
			</div>
		</div>
		<div class="footer">
			<li id="noticeAnnouncement">
				<span class="iconfont"><img src="/img/Notice.png" ></span>
				<p>安全公告</p>
			</li><li id="indexMenu">
			<a href="/phone/toIndex">
				<span class="iconfont"><img src="/img/index.png" ></span>
			</a><p>首页</p>
			</li><li id="blackList">
				<span class="iconfont"><img src="/img/billboard.png" ></span>
				<p>红黑榜</p>
			</li>
			<div class="liListName">
				<p><a href="/phone/toRankingTable">红黑榜</a></p>
				<p><a href="/phone/toTotalRank">项目排行</a></p>
			</div>
		</div>

		<script>
			$("#blackList").on("click",function(){
				$(".liListName").fadeToggle();
			})
		</script>
	</body>
</html>
