<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
		
		
		<title>安全数据</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-3.3.7/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="/font/iconfont.css"/>
		
		<script src="/js/echarts.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/index_02.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container margin15">
			<div class="container" id="SafeHours">
				<p class="SafeHours_01" >安全工时</p>
				<p class="SafeHours_02" id="huixian"></p>
				<p class="SafeHours_03">小时</p>
				<span class="SafeHoursImg"><img src="/img/安全工时.png" ></span>
			</div><span style="margin: 0 2%;"></span><div class="container" id="SafeRecord">
				<p class="SafeRecord_01">安全工时最高记录</p>
				<p class="SafeRecord_02" id="huixian2"></p>
				<p class="SafeRecord_03">小时</p>
				<span class="SafeRecordImg"><img src="/img/最高记录.png" ></span>
			</div>
		</div>
		
		<div class="container marginBottom60">
			<div id="line_03"></div>
		</div>
		<div class="footer">
			<li id="noticeAnnouncement">
				<span class="iconfont"><img src="/img/Notice.png" ></span>
				<p>安全公告</p>
			</li><li id="indexMenu">
			<a href="/phone/toIndex">
				<span class="iconfont"><img src="/img/index.png" ></span>
			</a><p>首页</p>
		</li><li id="blackList">
			<a href="/phone/toRankingTable">
				<span class="iconfont"><img src="/img/billboard.png" ></span>
			</a>
			<p>红黑榜</p>
		</li>
		</div>
	</body>
</html>
