<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.gongzhonghao.management.mapper.ProjectScoreDayMapper">
    <!---批量插入-->
    <insert id="insertBatch">
        insert into project_score_day (item_name,item_no,statistics_date,score,crane_weight,lifer_weight,car_warning,dust_warning,noise_warning,mana_rate,worker_rate,insert_time)
        values
        <foreach collection="projectScoreDayList" item="projectScoreDay" separator=",">
            (
            #{projectScoreDay.itemName},
            #{projectScoreDay.itemNo},
            #{projectScoreDay.statisticsDate},
            #{projectScoreDay.score},
            #{projectScoreDay.craneWeight},
            #{projectScoreDay.liferWeight},
            #{projectScoreDay.carWarning},
            #{projectScoreDay.dustWarning},
            #{projectScoreDay.noiseWarning},
            #{projectScoreDay.manaRate},
            #{projectScoreDay.workerRate},
            #{projectScoreDay.insertTime}
            )
        </foreach>
    </insert>

    <!--查询出表中有的日期-->
    <select id="getSelectDateList" resultType="java.util.Date">
        select distinct statistics_date from project_score_day
    </select>
</mapper>