<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.gongzhonghao.management.mapper.SafetyTimeMapper">
    <!---选择最后一个安全工时-->
    <select id="selectSafetyTime" resultType="integer">
        select safety_time from safety_time_table order by update_time desc limit 1
    </select>
</mapper>