<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.gongzhonghao.management.mapper.WeatherMapper">
    <!---根据日期查天气-->
    <select id="selectWeaByDate" resultType="com.zy.gongzhonghao.management.bean.Weather">
        select  ymd, `type`, week, notice from weather where ymd = #{todayStr}
    </select>

</mapper>